.app-panel{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	min-height: 200px;
}

.champion_statistics {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: none;
}

.champion_statistics.active{
	display:block;
}

.champion_portrait{
	width: 57px;
	height: 57px;
	display: inline-block;
	background-size: contain;
}

.champion_icon,.champion_icon.gray:hover{
	width: 57px;
	height: 57px;
	position: absolute;
	display: inline-block;
	background-size: contain;
	cursor: pointer;
	z-index: 0;
	top: 0;
	left: 0;
}

.champion_icon:hover{
	width: 67px;
	height: 67px;
	z-index: 1;
	top: -5px;
	left: -5px;
}

.champion_icon.gray{
}

.champion_icon_container{
	display:inline-block;
	width: 57px;
	height: 57px;
	position: relative;
}

.champion_search, .sort_dropdown{
	margin: 10px 0px 10px 0px;
	width: 100%;
}

.sort_dropdown{
	padding-left: 0;
	padding-right: 0;	
}

.spinner{
	width:16px;
	height: 16px;
	display: inline-block;
	background-image: url(/images/spinner.gif);
}

.average_deaths{
	color: red;
}

.divider {
  height: 1px;
  width:100%;
  display:block;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}